## Import libraries

In [125]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import skew
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import mean_absolute_error

plt.style.use('seaborn')
sns.set(font_scale=2.5)

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

## DATA Preprocessing

In [126]:
class suicides(object):
    def __init__(self):
        self.df = suicides.df
        self.df_test = suicides.df_test
        self.df_all_feature_var_names = []
        self.df_test_all_feature_var_names = []
        
    _non_numerical_feature_names = []
    _numerical_feature_names = []
    _is_one_hot_encoder = 0
    _feature_names_num = []
    _is_not_import_data = 0
    
    
    df = pd.read_csv('C:/Users/abrar/Desktop/2019/Suicide_Prediction-master/Suicide_Prediction-master/train_r.csv',sep=';')
    df_test = pd.read_csv('C:/Users/abrar/Desktop/2019/Suicide_Prediction-master/Suicide_Prediction-master/test_r.csv',sep=';')
    
    
    # extract numeric features 
    def extract_numerical_features(df):
        '''First Function Returns Numeric Features.'''
        df = df.copy()
        numerical_features = pd.Series(data=False, index=df.columns, dtype=bool)
        
        for feature in df.columns:
            if any(tuple(df[feature].map(lambda x: type(x)) == int)) or \
                any(tuple(df[feature].map(lambda x: type(x)) == float)) & \
                    (not any(tuple(df[feature].map(lambda x: type(x)) == str))):
                numerical_features[feature] = 1
    
        return numerical_features[numerical_features == 1].index
    print (extract_numerical_features.__doc__)
    # extract non numeric featurses 
    def extract_non_numerical_features(df):
        '''Second  Function Returns non_numerical_features.'''
       
        df = df.copy()
    
        return df.select_dtypes(exclude=[np.number])
    print (extract_non_numerical_features.__doc__)
    
    # encode the categorical features 
    def encode_labels_in_numeric_format(df, estimated_var):
        '''Third  Function Returns numeric features from categories.'''
         
        feature_names_num = ''.join([estimated_var, '_count'])
        mask = ~df[estimated_var].isnull()
        df[feature_names_num] = df[estimated_var]
        df.loc[mask, tuple([feature_names_num])] = df[estimated_var].factorize()[0][mask[mask==1].index]
    print (encode_labels_in_numeric_format.__doc__)
    # insert the lables into the lables after encoding 
    def label_classes(df, estimated_var):
        '''Fourth Function Returns Classes_features.'''
        
        le = LabelEncoder()
        le.fit(df[estimated_var].values)
        
        return le.classes_
    print (label_classes.__doc__)
    
    #  one hot encoding
    def one_hot_encoder(df, estimated_var):
        """Summary or Description of the Function 5 to encode categorical_feature = ['sex','age','region']

    Parameters:
    argument1 (int): dataframes , categorical feature 

    Returns:
    changes data frames  format to endoding

   """
       
        df_class = df.copy()
        ohe = OneHotEncoder()
        label_classes = df_class[estimated_var].factorize()[1]
        new_one_hot_encoded_features = [''.join([estimated_var, '_', x]) for x in label_classes]
        mask = ~df[estimated_var].isnull()
        feature_var_values = ohe.fit_transform(np.reshape(np.array(df[''.join([estimated_var, '_count'])][mask].values), 
                                                      (df[mask].shape[0], 1))).toarray().astype(int)

        for ite in new_one_hot_encoded_features:
            df[ite] = df[estimated_var]
        df.loc[mask, tuple(new_one_hot_encoded_features)] = feature_var_values
    print (one_hot_encoder.__doc__)

First Function Returns Numeric Features.
Second  Function Returns non_numerical_features.
Third  Function Returns numeric features from categories.
Fourth Function Returns Classes_features.
Summary or Description of the Function 5 to encode categorical_feature = ['sex','age','region']

    Parameters:
    argument1 (int): dataframes , categorical feature

    Returns:
    changes data frames  format to endoding

In [127]:
train = suicides.df
test = suicides.df_test

In [128]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26916 entries, 0 to 26915
Data columns (total 16 columns):
country               26916 non-null object
year                  26916 non-null int64
sex                   26916 non-null object
age                   26916 non-null object
suicides_no           26916 non-null int64
population            26916 non-null int64
suicides_per100k      26916 non-null object
country-year          26916 non-null object
HDI_for_year          26916 non-null object
gdp_for_year          26916 non-null object
gdp_per_capita        26916 non-null int64
generation            26916 non-null object
country_code          26916 non-null object
country-code          26916 non-null object
region                26916 non-null object
unemployment index    26916 non-null object
dtypes: int64(4), object(12)
memory usage: 3.3+ MB

In [129]:
def str_float(value):
    '''  Function str_float Returns format , to '.'.'''
    value2=value.replace(',', '.')
    value2=float(value2)
    return value2
# FUNCTION TO UPDATE THE FLOAT FEATURE
train['gdp_for_year']=train['gdp_for_year'].apply(str_float)
test['gdp_for_year']=test['gdp_for_year'].apply(str_float)
print (str_float.__doc__)

def str_comma_removal_to_float(value):
    '''  Function str_float Returns format , to ' '.'''
    value=value.replace(',','')
    value=float(value)
    return value
train['unemployment index']=train['unemployment index'].apply(str_comma_removal_to_float)
test['unemployment index']=test['unemployment index'].apply(str_comma_removal_to_float)
print (str_comma_removal_to_float.__doc__)

  Function str_float Returns format , to '.'.
  Function str_float Returns format , to ' '.

In [130]:
#add region 
Europe = ["Albania","Russian Federation","France","Ukraine","Germany","Poland","United Kingdom",
         "Italy","Spain","Hungary","Romania","Belgium","Belarus","Netherlands","Austria",
         "Czech Republic","Sweden","Bulgaria","Finland","Lithuania","Switzerland","Serbia",
         "Portugal","Croatia","Norway","Denmark","Slovakia","Latvia","Greece","Slovenia",
         "Turkey","Estonia","Georgia","Albania","Luxembourg","Armenia","Iceland","Montenegro",
         "Cyprus","Bosnia and Herzegovina","San Marino","Malta","Ireland"]
NorthAmerica = ["United States","Mexico","Canada","Cuba","El Salvador","Puerto Rico",
                "Guatemala","Costa Rica","Nicaragua","Belize","Jamaica"]
SouthAmerica = ["Brazil","Colombia", "Chile","Ecuador","Uruguay","Paraguay","Argentina",
                "Panama","Guyana","Suriname"]
MiddleEast = ["Kazakhstan","Uzbekistan","Kyrgyzstan","Israel","Turkmenistan","Azerbaijan",
              "Kuwait","United Arab Emirates","Qatar","Bahrain","Oman"]
Asia = ["Japan","Republic of Korea", "Thailand", "Sri Lanka","Philippines","New Zealand",
        "Australia","Singapore","Macau","Mongolia"]

def match_region(x):
    if x in Europe:
        x = 'Europe'
    elif x in NorthAmerica:
        x = 'North America'
    elif x in SouthAmerica:
        x = 'South America'
    elif x in MiddleEast:
        x = 'MiddleEast'
    elif x in Asia:
        x = 'Asia'
    else:
        x = 'Island Nation'
    return x
  
  
train['region'] = train.country.map(lambda x: match_region(x))
  
test['region'] = test.country.map(lambda x: match_region(x))

In [131]:
categorical_feature = ['sex','age','region']

In [132]:
suicides.encode_labels_in_numeric_format(train, categorical_feature[0])
suicides.encode_labels_in_numeric_format(train, categorical_feature[1])
suicides.encode_labels_in_numeric_format(train, categorical_feature[2])
#suicides.encode_labels_in_numeric_format(train, categorical_feature[3])

suicides.encode_labels_in_numeric_format(test, categorical_feature[0])
suicides.encode_labels_in_numeric_format(test, categorical_feature[1])
suicides.encode_labels_in_numeric_format(test, categorical_feature[2])
#suicides.encode_labels_in_numeric_format(test, categorical_feature[3])

train.head()

,country,year,sex,age,suicides_no,population,suicides_per100k,country-year,HDI_for_year,gdp_for_year,gdp_per_capita,generation,country_code,country-code,region,unemployment index,sex_count,age_count,region_count
0,Albania,1987,male,15-24 years,21,312900,"6,71",Albania1987,"0,673",2.156625e+09,796,Generation X,AL,ALB,Europe,6.100000e+09,0,0,0
1,Albania,1987,male,35-54 years,16,308000,"5,19",Albania1987,"0,673",2.156625e+09,796,Silent,AL,ALB,Europe,6.100000e+09,0,1,0
2,Albania,1987,female,15-24 years,14,289700,"4,83",Albania1987,"0,673",2.156625e+09,796,Generation X,AL,ALB,Europe,6.100000e+09,1,0,0
3,Albania,1987,male,75+ years,1,21800,"4,59",Albania1987,"0,673",2.156625e+09,796,G.I. Generation,AL,ALB,Europe,6.100000e+09,0,2,0
4,Albania,1987,male,25-34 years,9,274300,"3,28",Albania1987,"0,673",2.156625e+09,796,Boomers,AL,ALB,Europe,6.100000e+09,0,3,0

In [133]:
suicides.one_hot_encoder(train, categorical_feature[0])
suicides.one_hot_encoder(train, categorical_feature[1])
suicides.one_hot_encoder(train, categorical_feature[2])
#suicides.one_hot_encoder(train, categorical_feature[3])



suicides.one_hot_encoder(test, categorical_feature[0])
suicides.one_hot_encoder(test, categorical_feature[1])
suicides.one_hot_encoder(test, categorical_feature[2])
#suicides.one_hot_encoder(test, categorical_feature[3])
train.head()

,country,year,sex,age,suicides_no,population,suicides_per100k,country-year,HDI_for_year,gdp_for_year,...,age_75+ years,age_25-34 years,age_55-74 years,age_5-14 years,region_Europe,region_Island Nation,region_South America,region_Asia,region_MiddleEast,region_North America
0,Albania,1987,male,15-24 years,21,312900,"6,71",Albania1987,"0,673",2.156625e+09,...,0,0,0,0,1,0,0,0,0,0
1,Albania,1987,male,35-54 years,16,308000,"5,19",Albania1987,"0,673",2.156625e+09,...,0,0,0,0,1,0,0,0,0,0
2,Albania,1987,female,15-24 years,14,289700,"4,83",Albania1987,"0,673",2.156625e+09,...,0,0,0,0,1,0,0,0,0,0
3,Albania,1987,male,75+ years,1,21800,"4,59",Albania1987,"0,673",2.156625e+09,...,1,0,0,0,1,0,0,0,0,0
4,Albania,1987,male,25-34 years,9,274300,"3,28",Albania1987,"0,673",2.156625e+09,...,0,1,0,0,1,0,0,0,0,0

In [134]:
train.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides_per100k', 'country-year', 'HDI_for_year', 'gdp_for_year',
       'gdp_per_capita', 'generation', 'country_code', 'country-code',
       'region', 'unemployment index', 'sex_count', 'age_count',
       'region_count', 'sex_male', 'sex_female', 'age_15-24 years',
       'age_35-54 years', 'age_75+ years', 'age_25-34 years',
       'age_55-74 years', 'age_5-14 years', 'region_Europe',
       'region_Island Nation', 'region_South America', 'region_Asia',
       'region_MiddleEast', 'region_North America'],
      dtype='object')

In [135]:
train = train.drop(categorical_feature[0], axis=1)
train = train.drop(categorical_feature[1], axis=1)
train = train.drop(categorical_feature[2], axis=1)
#train = train.drop(categorical_feature[3], axis=1)
train = train.drop('country-year', axis=1)


test = test.drop(categorical_feature[0], axis=1)
test = test.drop(categorical_feature[1], axis=1)
test = test.drop(categorical_feature[2], axis=1)
#test = test.drop(categorical_feature[3], axis=1)
test = test.drop('country-year', axis=1)


train.head()

,country,year,suicides_no,population,suicides_per100k,HDI_for_year,gdp_for_year,gdp_per_capita,generation,country_code,...,age_75+ years,age_25-34 years,age_55-74 years,age_5-14 years,region_Europe,region_Island Nation,region_South America,region_Asia,region_MiddleEast,region_North America
0,Albania,1987,21,312900,"6,71","0,673",2.156625e+09,796,Generation X,AL,...,0,0,0,0,1,0,0,0,0,0
1,Albania,1987,16,308000,"5,19","0,673",2.156625e+09,796,Silent,AL,...,0,0,0,0,1,0,0,0,0,0
2,Albania,1987,14,289700,"4,83","0,673",2.156625e+09,796,Generation X,AL,...,0,0,0,0,1,0,0,0,0,0
3,Albania,1987,1,21800,"4,59","0,673",2.156625e+09,796,G.I. Generation,AL,...,1,0,0,0,1,0,0,0,0,0
4,Albania,1987,9,274300,"3,28","0,673",2.156625e+09,796,Boomers,AL,...,0,1,0,0,1,0,0,0,0,0

In [136]:
train = train[train['year']> 2008]
train["HDI_for_year"] = train["HDI_for_year"].str.replace(",","").astype(float)

In [137]:
test.info()
test["HDI_for_year"] = test["HDI_for_year"].str.replace(",","").astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 904 entries, 0 to 903
Data columns (total 29 columns):
country                 904 non-null object
year                    904 non-null int64
suicides_no             904 non-null int64
population              904 non-null int64
suicides_per100k        904 non-null object
HDI_for_year            904 non-null object
gdp_for_year            904 non-null float64
gdp_per_capita          904 non-null int64
generation              904 non-null object
country_code            904 non-null object
country-code            904 non-null object
unemployment index      904 non-null float64
sex_count               904 non-null int64
age_count               904 non-null int64
region_count            904 non-null int64
sex_female              904 non-null int32
sex_male                904 non-null int32
age_55-74 years         904 non-null int32
age_15-24 years         904 non-null int32
age_25-34 years         904 non-null int32
age_35-54 years         904 non-null int32
age_5-14 years          904 non-null int32
age_75+ years           904 non-null int32
region_Island Nation    904 non-null int32
region_South America    904 non-null int32
region_Europe           904 non-null int32
region_Asia             904 non-null int32
region_North America    904 non-null int32
region_MiddleEast       904 non-null int32
dtypes: float64(2), int32(14), int64(7), object(6)
memory usage: 155.5+ KB

## PreProcessing ( Feature Engineering )

In [138]:


test = test.drop(['suicides_per100k'], axis=1)
train = train.drop(['suicides_per100k'], axis=1)


train['suicides_100k_pop'] = train['suicides_no'] / train['population'] * 100000
 

features_drop_train = ['suicides_no','sex_count','generation','age_count','region_count']
features_drop_test = ['sex_count','age_count','generation','region_count']

test = test.drop(features_drop_test, axis=1)
train = train.drop(features_drop_train, axis=1)

In [139]:
con = []
for i in test.country.unique():
    con.append(train[train.country == i])

In [140]:
train = pd.concat(con, axis=0)

In [141]:
train.head()

,country,year,population,HDI_for_year,gdp_for_year,gdp_per_capita,country_code,country-code,unemployment index,sex_male,...,age_25-34 years,age_55-74 years,age_5-14 years,region_Europe,region_Island Nation,region_South America,region_Asia,region_MiddleEast,region_North America,suicides_100k_pop
528,Antigua and Barbuda,2009,8199,781666667.0,1.224253e+09,14335,AG,ATG,6.0,0,...,0,0,0,0,1,0,0,0,0,0.0
529,Antigua and Barbuda,2009,6917,781666667.0,1.224253e+09,14335,AG,ATG,6.0,0,...,1,0,0,0,1,0,0,0,0,0.0
530,Antigua and Barbuda,2009,14629,781666667.0,1.224253e+09,14335,AG,ATG,6.0,0,...,0,0,0,0,1,0,0,0,0,0.0
531,Antigua and Barbuda,2009,8514,781666667.0,1.224253e+09,14335,AG,ATG,6.0,0,...,0,0,1,0,1,0,0,0,0,0.0
532,Antigua and Barbuda,2009,4793,781666667.0,1.224253e+09,14335,AG,ATG,6.0,0,...,0,1,0,0,1,0,0,0,0,0.0

In [142]:
test.head()

,country,year,suicides_no,population,HDI_for_year,gdp_for_year,gdp_per_capita,country_code,country-code,unemployment index,...,age_25-34 years,age_35-54 years,age_5-14 years,age_75+ years,region_Island Nation,region_South America,region_Europe,region_Asia,region_North America,region_MiddleEast
0,Antigua and Barbuda,2015,1,6403,781666667.0,1.364863e+09,14853,AG,ATG,6.0,...,0,0,0,0,1,0,0,0,0,0
1,Antigua and Barbuda,2015,0,8561,781666667.0,1.364863e+09,14853,AG,ATG,6.0,...,0,0,0,0,1,0,0,0,0,0
2,Antigua and Barbuda,2015,0,7740,781666667.0,1.364863e+09,14853,AG,ATG,6.0,...,1,0,0,0,1,0,0,0,0,0
3,Antigua and Barbuda,2015,0,15323,781666667.0,1.364863e+09,14853,AG,ATG,6.0,...,0,1,0,0,1,0,0,0,0,0
4,Antigua and Barbuda,2015,0,8239,781666667.0,1.364863e+09,14853,AG,ATG,6.0,...,0,0,1,0,1,0,0,0,0,0

In [143]:
train[train.country == 'Antigua and Barbuda'] = train[train.country == 'Antigua and Barbuda'].fillna(0)
test[test.country == 'Antigua and Barbuda'] = test[test.country == 'Antigua and Barbuda'].fillna(0)

train = train.fillna(method='ffill')
test = test.fillna(method='ffill')

In [144]:
train.isna().sum()

country                 0
year                    0
population              0
HDI_for_year            0
gdp_for_year            0
gdp_per_capita          0
country_code            0
country-code            0
unemployment index      0
sex_male                0
sex_female              0
age_15-24 years         0
age_35-54 years         0
age_75+ years           0
age_25-34 years         0
age_55-74 years         0
age_5-14 years          0
region_Europe           0
region_Island Nation    0
region_South America    0
region_Asia             0
region_MiddleEast       0
region_North America    0
suicides_100k_pop       0
dtype: int64

In [145]:
test.isna().sum()

country                 0
year                    0
suicides_no             0
population              0
HDI_for_year            0
gdp_for_year            0
gdp_per_capita          0
country_code            0
country-code            0
unemployment index      0
sex_female              0
sex_male                0
age_55-74 years         0
age_15-24 years         0
age_25-34 years         0
age_35-54 years         0
age_5-14 years          0
age_75+ years           0
region_Island Nation    0
region_South America    0
region_Europe           0
region_Asia             0
region_North America    0
region_MiddleEast       0
dtype: int64

In [146]:
train_test_data=[train,test]
def normalize(X):
    return np.abs((X-np.mean(X))/np.std(X))
for dataset in train_test_data:
    dataset['gdp_per_capita']=normalize(dataset['gdp_per_capita'])
    dataset['gdp_for_year']=normalize(dataset['gdp_for_year'])
test.head()

,country,year,suicides_no,population,HDI_for_year,gdp_for_year,gdp_per_capita,country_code,country-code,unemployment index,...,age_25-34 years,age_35-54 years,age_5-14 years,age_75+ years,region_Island Nation,region_South America,region_Europe,region_Asia,region_North America,region_MiddleEast
0,Antigua and Barbuda,2015,1,6403,781666667.0,0.310791,0.479044,AG,ATG,6.0,...,0,0,0,0,1,0,0,0,0,0
1,Antigua and Barbuda,2015,0,8561,781666667.0,0.310791,0.479044,AG,ATG,6.0,...,0,0,0,0,1,0,0,0,0,0
2,Antigua and Barbuda,2015,0,7740,781666667.0,0.310791,0.479044,AG,ATG,6.0,...,1,0,0,0,1,0,0,0,0,0
3,Antigua and Barbuda,2015,0,15323,781666667.0,0.310791,0.479044,AG,ATG,6.0,...,0,1,0,0,1,0,0,0,0,0
4,Antigua and Barbuda,2015,0,8239,781666667.0,0.310791,0.479044,AG,ATG,6.0,...,0,0,1,0,1,0,0,0,0,0

In [147]:
# train = pd.read_csv('./train.csv')
# test = pd.read_csv('./test1.csv')

##  Modeling

In [148]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet, ElasticNetCV
from pandas import Series, DataFrame
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor  


df_predict = DataFrame()
 
for i in train['country'].unique():
  
  train_by_country = train[train['country']==i]
  
  y = train_by_country['suicides_100k_pop']
  X = train_by_country.drop(['suicides_100k_pop','country','population','country_code','country-code'],axis=1) #independent columns
  #print(y)

   
  X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .01, random_state = 100)


  if (i== "United States"  or i== "Republic of Korea" or i== "Japan" or i== "Russian Federation" or i == 'Poland' or i == 'Kazakhstan'): 
    model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.9).fit(X_train, y_train)
    print(model.feature_importances_)
    
  elif (i == "Ukraine" or i == "Hungary" or i == "Brazil" or i == "Thailand" or i == "Mexico" or i == "Ecuador" or 
        i == "Colombia" or i == "Germany" or i == "Argentina" or i == "Israel" or i == "Italy" or i == "Australia" or
        i == "Czech Republic" or i == "Romania"):
    model = XGBRegressor(learning_rate=0.4, reg_lambda=.4, subsample=.9).fit(X_train, y_train)
    print(model.feature_importances_)
  else:
    #model  = GradientBoostingRegressor(learning_rate=0.5).fit(X_train, y_train)
    #model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.7).fit(X_train, y_train)
    model = XGBRegressor(learning_rate=0.4, reg_lambda=.5, subsample=.9).fit(X_train, y_train)
    #print(model.feature_importances_)
    
    
  test_by_country = test[test['country']==i]

  test_by_country['generation_G.I. Generation']=0
  


  test_by_country_2= test_by_country.drop(['population','country'],axis=1)
  test_by_country_2 = test_by_country_2.reindex(columns = X.columns)


  ss= pd.Series(model.predict(test_by_country_2)).to_frame('predict')



  test_by_country=test_by_country.reset_index()
  test_result =pd.concat([test_by_country , pd.Series(model.predict(test_by_country_2)).to_frame('predict')] , axis=1)

  test_result['predicted_suicides_no']= test_result['predict'] /100000 * test_result['population']
  test_result= test_result.loc[:, ['country', 'year','predict','population','predicted_suicides_no']]

  df_predict=df_predict.append(test_result)

df_predict

[0.00332588 0.00330694 0.00367853 0.         0.         0.27972028
 0.         0.04556101 0.0626768  0.11048765 0.00175775 0.0032562
 0.48622906 0.         0.         0.         0.         0.
 0.        ]
[0.00354804 0.00186006 0.00220935 0.         0.00160007 0.29723144
 0.         0.03677973 0.02976795 0.03367145 0.00106733 0.02713036
 0.56513417 0.         0.         0.         0.         0.
 0.        ]
[3.78188619e-04 1.29398028e-03 1.20757344e-04 1.23252161e-04
 0.00000000e+00 2.63823956e-01 0.00000000e+00 6.52315468e-02
 2.22194986e-03 1.78636998e-01 7.60743060e-05 4.35392698e-03
 4.83739287e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00]
[0.00305573 0.00138667 0.00246113 0.         0.00372521 0.32424042
 0.         0.03785213 0.03461634 0.05118016 0.00426188 0.00075033
 0.53647006 0.         0.         0.         0.         0.
 0.        ]
[0.00144982 0.00180377 0.00510037 0.00841192 0.00048027 0.23535189
 0.         0.0608028  0.03262654 0.23846407 0.00286816 0.03274482
 0.37989554 0.         0.         0.         0.         0.
 0.        ]
[0.03096766 0.00595489 0.         0.         0.00647236 0.21907932
 0.         0.1394968  0.04247173 0.0076201  0.03597449 0.00624339
 0.5057193  0.         0.         0.         0.         0.
 0.        ]
[2.9154803e-04 1.6541533e-04 2.6129506e-04 0.0000000e+00 0.0000000e+00
 1.3941279e-01 0.0000000e+00 2.1913428e-02 5.0895356e-02 5.2154547e-01
 7.6760992e-04 4.2281307e-02 2.2246575e-01 0.0000000e+00 0.0000000e+00
 0.0000000e+00 0.0000000e+00 0.0000000e+00 0.0000000e+00]
[0.00701183 0.00140455 0.00244106 0.         0.00109402 0.18532182
 0.         0.02248523 0.08609194 0.25588366 0.00195613 0.24301626
 0.19329356 0.         0.         0.         0.         0.
 0.        ]
[0.01185317 0.01322986 0.0068172  0.         0.         0.17792206
 0.         0.07129817 0.01200507 0.18638533 0.0095288  0.03655889
 0.47440138 0.         0.         0.         0.         0.
 0.        ]
[5.2574067e-04 6.3165522e-04 2.6436225e-03 3.7717537e-04 6.6293712e-04
 2.2128341e-01 0.0000000e+00 5.2382234e-02 3.7640736e-02 4.0959153e-01
 4.9573262e-03 1.3131240e-01 1.3799126e-01 0.0000000e+00 0.0000000e+00
 0.0000000e+00 0.0000000e+00 0.0000000e+00 0.0000000e+00]
[6.9711576e-03 5.2528724e-04 5.2481092e-04 0.0000000e+00 0.0000000e+00
 1.7490658e-01 0.0000000e+00 1.0058221e-01 1.0290860e-02 1.7794305e-02
 1.2984439e-02 1.1543989e-02 6.6387635e-01 0.0000000e+00 0.0000000e+00
 0.0000000e+00 0.0000000e+00 0.0000000e+00 0.0000000e+00]
[0.0105848  0.00187539 0.00251957 0.         0.         0.31783172
 0.         0.05424568 0.00844284 0.00730392 0.01272355 0.0122875
 0.57218504 0.         0.         0.         0.         0.
 0.        ]
[2.1489528e-03 1.1379161e-03 0.0000000e+00 0.0000000e+00 3.2616867e-04
 2.9044035e-01 0.0000000e+00 1.7667156e-02 5.1125460e-03 2.3362912e-02
 7.5069531e-03 9.1699054e-03 6.4312714e-01 0.0000000e+00 0.0000000e+00
 0.0000000e+00 0.0000000e+00 0.0000000e+00 0.0000000e+00]
[8.5280335e-04 2.7921959e-04 2.2539534e-03 0.0000000e+00 2.3095495e-04
 2.5474769e-01 0.0000000e+00 4.7276404e-02 5.9496164e-02 3.1901458e-03
 2.1894911e-02 4.2849891e-02 5.6692791e-01 0.0000000e+00 0.0000000e+00
 0.0000000e+00 0.0000000e+00 0.0000000e+00 0.0000000e+00]
[6.65635895e-03 0.00000000e+00 0.00000000e+00 3.32910044e-04
 2.38952372e-04 1.14693187e-01 0.00000000e+00 8.29351246e-02
 1.07151642e-02 5.73130667e-01 1.17308786e-03 1.13015756e-01
 9.71087813e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00]
[0.00191423 0.0008082  0.00226822 0.         0.00123061 0.20857312
 0.         0.1107324  0.03060266 0.01396517 0.06258535 0.07567182
 0.49164826 0.         0.         0.         0.         0.
 0.        ]
[1.0488594e-02 0.0000000e+00 3.7510550e-04 0.0000000e+00 5.1282684e-04
 3.3582917e-01 0.0000000e+00 2.5002688e-02 3.2365061e-03 8.7009408e-02
 1.1196657e-02 1.8488031e-03 5.2450025e-01 0.0000000e+00 0.0000000e+00
 0.0000000e+00 0.0000000e+00 0.0000000e+00 0.0000000e+00]
[0.00152224 0.00505226 0.00156206 0.         0.00254333 0.24842694
 0.         0.10656903 0.00147189 0.01520179 0.00587915 0.00316671
 0.6086046  0.         0.         0.         0.         0.
 0.        ]
[2.5601848e-03 4.0708433e-04 5.8011332e-04 0.0000000e+00 0.0000000e+00
 2.4440421e-01 0.0000000e+00 6.4755216e-02 4.2346437e-03 1.1779316e-01
 3.0552843e-04 7.8231627e-03 5.5713671e-01 0.0000000e+00 0.0000000e+00
 0.0000000e+00 0.0000000e+00 0.0000000e+00 0.0000000e+00]
[6.76622090e-04 7.13869231e-05 0.00000000e+00 0.00000000e+00
 0.00000000e+00 2.53236204e-01 0.00000000e+00 3.89271006e-02
 1.07630985e-02 8.70438889e-02 3.75989731e-03 4.09758650e-03
 6.01424217e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00]

                country  year    predict  population  predicted_suicides_no
0   Antigua and Barbuda  2015   0.000000        6403               0.000000
1   Antigua and Barbuda  2015   0.000000        8561               0.000000
2   Antigua and Barbuda  2015   0.000000        7740               0.000000
3   Antigua and Barbuda  2015   0.000000       15323               0.000000
4   Antigua and Barbuda  2015   0.000000        8239               0.000000
5   Antigua and Barbuda  2015   0.000000        1724               0.000000
6   Antigua and Barbuda  2015   0.000000        8331               0.000000
7   Antigua and Barbuda  2015   0.000000        7059               0.000000
8   Antigua and Barbuda  2015   0.000000       13370               0.000000
9   Antigua and Barbuda  2015   0.000000        8268               0.000000
10  Antigua and Barbuda  2015   0.000000        5784               0.000000
11  Antigua and Barbuda  2015   0.000000        1087               0.000000
0             Argentina  2015  24.528425      712691             174.811879
1             Argentina  2015  20.349518     3500580             712.351151
2             Argentina  2015  13.504498     3011963             406.750469
3             Argentina  2015  15.713113     3289927             516.949942
4             Argentina  2015  12.207373     5166179             630.654723
5             Argentina  2015   5.453117     3394201             185.089748
6             Argentina  2015   3.124522     3520779             110.007513
7             Argentina  2015   3.397375     3235582             109.924865
8             Argentina  2015   4.688308     5301368             248.544473
9             Argentina  2015   1.846323     1344980              24.832670
10            Argentina  2015   0.702061     3672155              25.780779
11            Argentina  2015   1.362811     3549219              48.369142
0               Armenia  2015  15.191091       61355               9.320494
1               Armenia  2015   5.369366      231213              12.414673
2               Armenia  2015   4.348114      100754               4.380899
3               Armenia  2015   4.009261      356715              14.301636
4               Armenia  2015   2.605893      255540               6.659098
5               Armenia  2015   1.537195      297936               4.579856
..                  ...   ...        ...         ...                    ...
6        United Kingdom  2015   3.831097     7075576             271.072189
7        United Kingdom  2015   3.502493     4414464             154.616278
8        United Kingdom  2015   2.773649     3070457              85.163685
9        United Kingdom  2015   2.552609     3966564             101.250878
10       United Kingdom  2015   0.201886     3663221               7.395516
11       United Kingdom  2015   0.127863     3840476               4.910566
0         United States  2015  38.827549     8171136            3172.651833
1         United States  2015  28.538858    32264697            9207.976194
2         United States  2015  27.386072    41658010           11408.492679
3         United States  2015  24.034912    22137097            5320.631808
4         United States  2015  17.954163    22615073            4060.346978
5         United States  2015   9.572738    41531809            3975.731135
6         United States  2015   7.861236    35115610            2760.520841
7         United States  2015   6.327219    21555712            1363.877210
8         United States  2015   4.594574    21633813             993.981645
9         United States  2015   4.164726    11778666             490.549139
10        United States  2015   1.336393    21273987             284.304149
11        United States  2015   0.691197    20342901             140.609578
0               Uruguay  2015  66.874741       78996              52.828370
1               Uruguay  2015  33.483002      277870              93.039217
2               Uruguay  2015  34.478088      235597              81.229342
3               Uruguay  2015  34.210972      423963             145.041863
4               Uruguay  2015  30.120884      264562              79.688413
5               Uruguay  2015  11.524954      160620              18.511381
6               Uruguay  2015   8.592072      327405              28.130875
7               Uruguay  2015   8.831066      232133              20.499819
8               Uruguay  2015  10.467699      440475              46.107597
9               Uruguay  2015   6.909306      255067              17.623358
10              Uruguay  2015   1.353074      252509               3.416633
11              Uruguay  2015   0.985003      241598               2.379747

[894 rows x 5 columns]

In [149]:
X.head()

,year,HDI_for_year,gdp_for_year,gdp_per_capita,unemployment index,sex_male,sex_female,age_15-24 years,age_35-54 years,age_75+ years,age_25-34 years,age_55-74 years,age_5-14 years,region_Europe,region_Island Nation,region_South America,region_Asia,region_MiddleEast,region_North America
26592,2009,746555556.0,0.353114,0.673218,7.740100e+09,1,0,0,0,1,0,0,0,0,0,1,0,0,0
26593,2009,746555556.0,0.353114,0.673218,7.740100e+09,1,0,0,0,0,0,1,0,0,0,1,0,0,0
26594,2009,746555556.0,0.353114,0.673218,7.740100e+09,1,0,0,0,0,1,0,0,0,0,1,0,0,0
26595,2009,746555556.0,0.353114,0.673218,7.740100e+09,1,0,0,1,0,0,0,0,0,0,1,0,0,0
26596,2009,746555556.0,0.353114,0.673218,7.740100e+09,1,0,1,0,0,0,0,0,0,0,1,0,0,0

## Test

In [150]:
merge_data1 = df_predict['predicted_suicides_no'].groupby(df_predict['country']).sum()
merge_data2 =pd.DataFrame({'country':merge_data1.index, 'predicted_suicides_no':merge_data1.values})

merge_data2.to_csv('result_366.csv')

answer= pd.read_csv('C:/Users/abrar/Desktop/2019/Suicide_Prediction-master/Suicide_Prediction-master/2015_suicide_no.csv')
answer.columns = ['country', 'suicides_no']

merge_answer= pd.merge(merge_data2, answer , on ='country', how='left')
merge_answer['error']=merge_answer['suicides_no']-merge_answer['predicted_suicides_no']
merge_answer['error_Abs']=abs(merge_answer['error'])
merge_answer1=merge_answer.sort_values('error_Abs',ascending=False)
merge_answer1.to_csv('after_merge.csv')

In [151]:
true_value = merge_answer1.suicides_no
prediction_value = merge_answer1.predicted_suicides_no

print('RMSE = ', np.sqrt(mean_squared_error(prediction_value, true_value)))
print('MAE =', mean_absolute_error(prediction_value,true_value))
print('MAE =', np.log(mean_absolute_error(prediction_value,true_value)))

RMSE =  815.4110906755627
MAE = 403.76597311604024
MAE = 6.000835435651628